.black {
    color: #000000;
}
.white {
    color: #fff;
}
.grey {
    color: #585858;
}
.yellow {
    color: #fece36;
}
.voilet {
    color: #7a57ce;
}
.blue {
    color: #587BF8;
}
.theme-color {
    color: #0d323f;
}