@import url("./styles/layout.scss");
@import url("./styles/colors.scss");
@import url("./styles/fonts.scss");

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Righteous", cursive !important;
  line-height: 1.5;
}
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
// }
@font-face {
  font-family: "Mokoto Mark";
  src: url("./assets/fonts/Mokoto\ Glitch\ Mark\ 2.otf");
}
@font-face {
  font-family: "Mokoto Mark2";
  src: url("./assets/fonts/Mokoto\ Glitch\ Mark\ 2.ttf");
}
@font-face {
  font-family: "Mokoto Glitch";
  src: url("./assets/fonts/Mokoto\ Glitch.otf");
}
@font-face {
  font-family: "Mokoto Glitch2";
  src: url("./assets/fonts/Mokoto\ Glitch.ttf");
}
/* @font-face {
  font-family: "Mokoto Glitch Mark Outline";
  src: url("./assets/fonts/Mokoto\ Glitch\ Mark\ Outline.otf");
} */
@font-face {
  font-family: "Mokoto Glitch Mark Outline";
  src: url("./assets/fonts/Mokto\ Glitch\ Mark\ outline.ttf");
}


